# Ignore le dossier node_modules
node_modules/

# Ignore les fichiers de logs
*.log

# Ignore les fichiers de configuration de l'environnement
.env

# Ignore le dossier de build
/dist

# Ignore les fichiers de cache de l'éditeur
.vscode/
.idea/
*.sublime-workspace

# Ignore les fichiers de débogage
*.log
npm-debug.log
yarn-error.log

# Ignore le fichier .tsbuildinfo créé par TypeScript
*.tsbuildinfo
